* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.clickable {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 200px;
  background-color: #94d6a0;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 5px;
  color: #ca235a;
  transition: all 2s;
}
button:hover {
  background-color: #aad5b2;
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #ddd; */
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
  padding: 10px 30px;
}

.items {
  padding: 10px 30px;
}
h1 {
  display: flex;
  flex-wrap: wrap;
}

header > h1 {
  color: #39847d;
  transition: all 4s;
}

header > h1:hover {
  transform: skewY(10deg);
  font-size: 30px;
}

section > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 4s;
  color: #39847d;
}

section > h1:hover {
  transform: skewY(10deg);
  font-size: 30px;
}

header {
  display: flex;
  flex-direction: row;
  background-image: url("/image/mountain-landscape.jpg");
  background-repeat: 3;
  background-size: cover;
  height: 40vh;
  width: 100vw;
}

nav {
  width: 100vw;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ca235a;
  padding: 10px;
}

ul > li {
  font-size: 16px;
  padding: 20px 60px;
  color: #4d413b;
  list-style: none;
  justify-content: space-between;
  text-decoration: none;
}

a {
  color: #4c8a57;
  list-style: none;
  text-decoration: none;
  transition: all 2s;
}

a:hover {
  color: #ddd;
  transform: scale(1.1);
  text-decoration: none;
  font-size: 20px;
  list-style: none;
}

/* #demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  background-color: #f51c64;
  border-radius: 15px;
  color: #040504;
  padding: 20px 30px;
  margin: 10px;
  transition: all 2s;
}

#demo:hover {
  transform: scale(1.1);
  background-color: #ea97b3;
} */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #1b752a;
  border-radius: 15px;
  margin: 10px;
  transition: all 2s;
  margin-bottom: 10px;
}

.card:hover {
  background-color: #94d6a0;
  transform: scale(1.1);
}
/*All cards */

.card-0 {
  color: #91e233;
  border: 3px solid #a9dd6d;
}

.card-1 {
  color: #f5665b;
  border: 3px solid #f5665b;
}

.card-2 {
  color: #9e7d7b;
  border: 3px solid #9e7d7b;
}

.card-3 {
  color: #8e68d0;
  border: 3px solid #8e68d0;
}

.card-4 {
  color: #92b767;
  border: 3px solid #92b767;
}

.card-5 {
  color: #9575ce;
  border: 3px solid #9575ce;
}

.card-6 {
  color: #6eaac5;
  border: 3px solid #6eaac5;
}

.card-7 {
  color: #ceb467;
  border: 3px solid #ceb467;
}

.card-8 {
  color: #ca8c75;
  border: 3px solid #ca8c75;
}

.card-9 {
  color: #f5665b;
  border: 3px solid #f5665b;
}

.card-10 {
  color: #ceb467;
  border: 3px solid #ceb467;
}

.card-11 {
  color: #8bc34a;
  border: 3px solid #8bc34a;
}

.card-12 {
  color: #a18ebb;
  border: 3px solid #a18ebb;
}
.card-13 {
  color: #91e233;
  border: 3px solid #a9dd6d;
}

.card-14 {
  color: #f5665b;
  border: 3px solid #f5665b;
}

.card-15 {
  color: #9e7d7b;
  border: 3px solid #9e7d7b;
}

.card-16 {
  color: #8e68d0;
  border: 3px solid #8e68d0;
}

.card-17 {
  color: #92b767;
  border: 3px solid #92b767;
}

.card-18 {
  color: #9575ce;
  border: 3px solid #9575ce;
}

.card-19 {
  color: #6eaac5;
  border: 3px solid #6eaac5;
}

.card-0,
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10,
.card-11,
.card-12,
.card-13,
.card-14,
.card-15,
.card-16,
.card-17,
.card-18,
.card-19 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
  height: 35vh;
  padding: 10px;
  margin: 0.5rem 0;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  border-radius: 7px;
  box-shadow: 7px 7px #aaa;
  margin-bottom: 25px;
  transition: all 3s;
}
.arr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*Use media queries */
@media screen and (max-width: 1400px) {
  .card-0,
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12,
  .card-13,
  .card-14,
  .card-15,
  .card-16,
  .card-17,
  .card-18,
  .card-19 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }
  footer > p {
    font-size: 16px;
  }
  nav > p {
    font-size: 16px;
  }
  footer > .ftr {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }
}

/* max-width: 490 px*/
/*Use media queries */
@media screen and (max-width: 900px) {
  .card-0,
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12,
  .card-13,
  .card-14,
  .card-15,
  .card-16,
  .card-17,
  .card-18,
  .card-19 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  footer > p {
    font-size: 14px;
  }
  nav > p {
    font-size: 14px;
  }
  footer > .ftr {
    font-size: 12px;
  }
  h1 {
    font-size: 18px;
  }
}
/*max-width:600px */
@media screen and (max-width: 600px) {
  .card-0,
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12,
  .card-13,
  .card-14,
  .card-15,
  .card-16,
  .card-17,
  .card-18,
  .card-19 {
    font-size: 16px;
  }
  p {
    font-size: 10px;
  }
  footer > p {
    font-size: 10px;
  }
  nav > p {
    font-size: 10px;
  }
  footer > .ftr {
    font-size: 6px;
  }
  h1 {
    font-size: 16px;
  }
}

/*max-width:200px */
@media screen and (max-width: 200px) {
  .card-0,
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12,
  .card-13,
  .card-14,
  .card-15,
  .card-16,
  .card-17,
  .card-18,
  .card-19 {
    font-size: 14px;
  }
  p {
    font-size: 8px;
  }
  footer > p {
    font-size: 8px;
  }
  nav > p {
    font-size: 8px;
  }

  footer > .ftr {
    font-size: 4px;
  }
  h1 {
    font-size: 14px;
  }
}

/*max-width:50px */
@media screen and (max-width: 50px) {
  .card-0,
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12,
  .card-13,
  .card-14,
  .card-15,
  .card-16,
  .card-17,
  .card-18,
  .card-19 {
    font-size: 10px;
  }
  p {
    font-size: 2px;
  }
  footer > p {
    font-size: 2px;
  }
  nav > p {
    font-size: 2px;
  }
  footer > .ftr {
    font-size: 2px;
  }
  h1 {
    font-size: 10px;
  }
}

/* Hover on cards*/

.card-0:hover,
.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover,
.card-5:hover,
.card-6:hover,
.card-7:hover,
.card-8:hover,
.card-9:hover,
.card-10:hover,
.card-11:hover,
.card-12:hover,
.card-13:hover,
.card-14:hover,
.card-15:hover,
.card-16:hover,
.card-17:hover,
.card-18:hover,
.card-19:hover {
  transition-timing-function: ease-in-out;
  color: rgb(255, 102, 0);
  transform: scale(1.1);
  font-size: font-size + 1px;
}

.show_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100vw;

  margin: 10px;
  border: none;
  color: #baf7b9;
  padding: 20px 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  margin-top: 100px;
  padding: 20px;
  background-color: #94d6a0;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: #ca235a;
  font-weight: bolder;
  transition: all 2s;
}

footer:hover {
  transform: scale(1.1);
}

footer > p {
  display: flex;
  justify-content: center;
  align-content: center;

  transition: all 4s;
  color: #ca235a;
  font-size: 18px;
  padding: 10px;
}

footer > p:hover {
  transform: scale(1.1);
  font-size: 20px;
}
footer > .ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 10px;
}
